<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav hidden-md-down">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
        </li>
    </ul>
</header>

<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-title">
                    Administrator Dashboard
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/adm/dashboard']"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
                </li>

                <li class="divider"></li>
                <li class="nav-title">
                    Kort Yönetimi
                </li>
                <li class="nav-item nav-dropdown" routerLinkActive="open">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> Kortlar</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/adm/dashboard/courts']"><i class="icon-puzzle"></i> Tüm Kortlar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/adm/dashboard/add-court']"><i class="icon-puzzle"></i> Kort Ekle</a>
                        </li>

                    </ul>
                </li>
                <li class="divider"></li>
                <li class="nav-title">
                    Kulüp Yönetimi
                </li>
                <li class="nav-item nav-dropdown" routerLinkActive="open">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> Kulüpler</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/adm/dashboard/clubs']"><i class="icon-puzzle"></i> Tüm Kulüpler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/adm/dashboard/add-club']"><i class="icon-puzzle"></i> Kort Ekle</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <breadcrumbs></breadcrumbs>
        </ol>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>

<footer class="app-footer">
    <a href="https://genesisui.com">Leaf</a> &copy; 2017 creativeLabs.
    <span class="float-right">Powered by <a href="https://genesisui.com">GenesisUI</a>
    </span>
</footer>