<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Tüm Kortlar
        </div>
        <div class="card-block">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Court Name</th>
                <th>Date registered</th>
                <th>Pricing </th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of courts; let i = index;">
                <td>{{item?.name}}</td>
                <td>2012/01/{{i}}</td>
                <td> {{item?.pricing.totalPrice}} - {{item?.pricing.priceCurrency}}</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
              <tr>
                <td>Demo Data</td>
                <td>2012/01/21</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
    </div>