<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <form #clubForm="ngForm" (change)="formState($event)" class="form-horizontal ">
        <div class="card">
          <div class="card-header">
            <strong>Kulüp Ekle </strong> Form
          </div>
          <div class="card-block">
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">Kulüp Adı</label>
              <div class="col-md-9">
                <input type="text" name="clubName" class="form-control" placeholder="x kulüp" ngModel>
                <span class="help-block">Kulüp genel ad</span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 form-control-label">Status</label>
              <div class="col-md-9">
                <div class="checkbox">
                  <label for="checkbox1">
<input type="checkbox"  name="isActive" ngModel> *IsActive
</label>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="textarea-input">Kulüp Hakkında</label>
              <div class="col-md-9">
                <textarea name="about" rows="9" class="form-control" placeholder="Kulüp Hakkında" ngModel></textarea>
              </div>
            </div>

          </div>

        </div>
        <div class="card">
          <div class="card-header">
            <strong>pricing</strong>
          </div>
          <div class="card-block">
            <div ngModelGroup="pricing">
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Ücret Bilgisi</label>
                <div class="col-md-9">
                  <div class="checkbox">
                    <label for="checkbox1">
<input type="checkbox"  name="isPrice" ngModel> Ücretli
</label>
                  </div>
                </div>
              </div>
              <div *ngIf="clubForm?.value?.pricing?.isPrice">
                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="text-input">Ücret Bilgisi</label>
                  <div class="col-md-9">
                    <input type="text" name="totalPrice" class="form-control" placeholder="Total Price : 100 $" ngModel>
                    <span class="help-block">kulüp ücreti</span>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="select">Para Formatı</label>
                  <div class="col-md-9">
                    <select name="priceCurrency" class="form-control" size="1" ngModel>
<option value="USD">USD</option>
<option value="TL">TL</option>
<option value="EURO">EURO</option>
</select>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <strong>address</strong>
          </div>
          <div class="card-block">
            <div ngModelGroup="address">

            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">city</label>
              <div class="col-md-9">
                <input type="text" name="city" class="form-control" placeholder="city" ngModel>
                <span class="help-block">city</span>
              </div>
            </div>
              
              <div class="form-group row" ngModelGroup="phone">
                <label class="col-md-3 form-control-label">Phones</label>
                <div class="col-md-9">
<input type="text" name="home" class="form-control" placeholder="Home" style="margin-bottom: 10px;" ngModel>
<input type="text" name="private1" class="form-control" placeholder="Private 1" ngModel>
                </div>
              </div>

            </div>

          </div>
        </div>

      </form>
      <div class="card-footer">
        <button type="button" class="btn btn-sm btn-primary" (click)="newClub(clubForm)"><i class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
      </div>
            <div class="card-footer">
                <div>
    <pre>{{clubForm.value | json}}</pre> </div>
               </div>
    </div>
  </div>

</div>